{% extends 'store/main.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <br>
            <form id="form" action="">
                <div id="user-info">
                    <div class="form-field">
                        <input required type="text" class="form-control" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="email" placeholder="Email..">
                    </div>
                </div>
                <div id="shipping-infor">
                    <hr>
                    <p>Shipping infomation</p>
                    <hr>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="phone_number" placeholder="PhoneNumber..">
                    </div>
                </div>
                <hr>
            </form>
        </div>
        <div class="box-element">
            <button id="make-payment">Thanh toán</button>
        </div> 
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Quay lại giỏ hàng</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageUrl}}" alt=""></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
                <div style="flex:1"><p>{{item.totalBill}} VND</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{ order.getTotalItem }}</h5>
            <h5>Total: {{ order.getTotalBill }} VND</h5>
        </div>
    </div>
</div>
<script>
    
    if (user != "AnonymousUser") {
        document.querySelector("#user-info").innerHTML = "";
      }
    const btnPayment = document.querySelector("#make-payment");
    const form = document.querySelector("#form");
    const totalBill = "{{order.getTotalBill}}";

    btnPayment.addEventListener("click", function () {
    const userInfo = {
        name: null,
        email: null,
        total: null,
    };

    const shippingInfo = {
        address: null,
        city: null,
        phone_number: null,
    };

    shippingInfo.address = form.address.value;
    shippingInfo.city = form.city.value;
    shippingInfo.phone_number = form.phone_number.value;

    userInfo.name = form.name.value;
    userInfo.email = form.email.value;
    userInfo.total = totalBill;

    processOrder(userInfo, shippingInfo);
    });

    const processOrder = (userInfo, shippingInfo) => {
    const url = "/complete_order/";
    fetch(url, {
        method: "POST",
        headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({ userInfo: userInfo, shippingInfo: shippingInfo }),
        mode: "same-origin",
    })
        .then((resolve) => {
        return resolve.json();
        })
        .then((resolve) => {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
        alert("Transaction completed");
        window.location.href = "{% url 'store' %}";
        })
        .catch((reject) => {
        console.log(reject);
        });
    };

</script>
{% endblock content%}