{% extends 'store/main.html' %}
{% load static %}
{% block content%}
<div class="row">
      <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/catmeme.png' %}" alt="">
            <div class="box-element product">
                  <h6><strong>Ko</strong></h6> <hr>
                  <button>Thêm vào giỏ</button>
                  <h4 style="color: red; display: inline;float: right;">20.000 VND</h4>
            </div>
      </div>
      <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/catmeme.png' %}" alt="">
            <div class="box-element product">
                  <h6><strong>bit</strong></h6> <hr>
                  <button>Thêm vào giỏ</button>
                  <h4 style="color: red; display: inline;float: right;">20.000 VND</h4>
            </div>
      </div>
      <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/catmeme.png' %}" alt="">
            <div class="box-element product">
                  <h6><strong>noi j</strong></h6> <hr>
                  <button>Thêm vào giỏ</button>
                  <h4 style="color: red; display: inline;float: right;">20.000 VND</h4>
            </div>
      </div>
</div>

{% endblock content%}